@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-xl;
  }

  section {
    height: 500px;
    @apply bg-darkBlue;
    border: solid black 1px;
  }

  .hero {
    height: 100vh;
    @apply bg-brightRed;
  }

  footer {
    height: 500px;
    background-color: white;
    border: solid black 1px;
  }
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-top {
  transform: translateY(7px);
}
.hamburger-middle {
  transform: translateY(14px);
}

.hamburger-bottom {
  transform: translateY(21px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}
